* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: lightgrey;
}

/* Header*/

h1 {
    display: inline-block;
    
}

header h1, header img {
    vertical-align: middle;
}

header {
    background-color: white;
    padding: 10px 10px;
    margin-bottom: 40px;
}

/* Container*/

.container {
    width: 75%;
    margin: 0 auto;
}

#list-container {
    background-color: white;
    padding: 10px;
    border-radius: 20px;
}

ul, ol {
    padding-left: 18px;
    list-style: none;
}

.check {
    border-radius: 50%;
    border: 1px solid grey;
    color: grey;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}

nav {
    height: 50px;
    width: 100%;
    padding: 15px;
    padding-left: 18px;
}

